<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <form method="post">
        <label>
            <div>User Name</div>
            <div>{{ errors['user'] }}</div>
            <input type="text" name="username">
        </label>

        <label>
            <div>Password</div>
            <div>{{ errors['password'] }}</div>
            <input type="password" name="password">
        </label>
        <button type="submit">Log In</button>
    </form>
</body>
</html>